body {
	background-color: #787878;
	width: 700px;
	height: 760px;
	margin: 0.6em auto;
	margin-right: 360px;
	margin-bottom: 100px;
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	/*position: 100px 40px;*/
	right: 570px;
	padding: 20px;
}

#container {
	text-align: center;
	font-family: 'Didot', serif;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 30px;
	height: 680px;
	width: 700px;
	margin: 40px auto;
	background: #000000;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	/*-webkit-border-radius: 20px;*/
	/*-moz-border-radius: 20px;*/
}

h1 {
	background: #1F030C;
	color: white;
	margin: 0;
	padding: 10px 100px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

p {
	padding-left: 20px;
}


/*form input[type="text"] {*/


/*  width=90px;*/


/*}*/

input {
	padding-left: 20px;
}

#billamt {
	text-align: center;
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 5px;
	background: #FFFFFF;
	padding: 10px 20px;
	border: none;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 7px;
	margin-left: 46px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

#billamt:focus {
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

#peopleamt {
	text-align: center;
	width: 73%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: #FFFFFF;
	padding: 10px 20px;
	border: none;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-bottom: 7px;
	margin-left: 46px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

#serviceQual {
	text-align: center;
	width: 50%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 3px;
	background: #FFFFFF;
	padding: 20px 20px;
	border: none;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	margin-left: 26px;
	text-align: center;
	margin-bottom: 7px;
	font-family: 'Ubuntu', sans-serif;
}

button {
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin: 40px auto;
	background: #AD133A;
	border-radius: 5px;
	width: 200px;
	margin-left: 260px;
	height: 50px;
	font-size: 17px;
	color: white;
}

button:hover {
	background: #4c2827;
	border-bottom-color: #111;
}

button:active {
	position: relative;
	top: 1px;
}