 body {

  background-image: url('../images/Image1.jpg')  ;
 background-repeat: no-repeat;
  background-size:cover;
    }


    .main {
        background-color: #F0E68C;
        width:  430px;
        height:470px;
        margin: 9em auto;
        margin-right:30px;
        margin-bottom:100px;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        position: absolute;
        right: 180px;
        padding: 20px;
    }
    .sign {
        text-align:center;
        padding-top: 40px;
        color:#FFFFFF;
        font-family: 'Didot', serif;
        font-weight: bold;
        font-size: 40px;
    }

    .un {
     text-align:center;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background:#FFFFFF;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 7px;
    margin-left: 46px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }


    .pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 7px;
    font-family: 'Ubuntu', sans-serif;
    }

.acc{
    text-align:center;
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 7px;
    font-family: 'Ubuntu', sans-serif;
}

    .login {
        text-align:center;
        cursor: pointer;
        border-radius: 0.5em;
        color: #fff;
        background: linear-gradient(to right, #707070,#707070);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
         margin-bottom: 27px;


    }


.a{
     text-align:center;
        cursor: pointer;
        border-radius: 0.5em;
        color: #fff;
        background: linear-gradient(to right, #707070,#707070);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        margin-bottom: 7px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
    .signup {

        color:#FFFFFF ;
        padding-top: 2px;
    }

